body{
    background: -moz-linear-gradient(top,lemonchiffon,skyblue);
    background: -webkit-linear-gradient(top,lemonchiffon,skyblue);
    background: linear-gradient(to bottom,lemonchiffon,skyblue);
    font-family: 'Avenir','HG行書体','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' ;
}
.back{
    width: 100%;
    font-size: 50px;
    position: fixed;
    margin-left: 80%;
    bottom: 10%;
    text-decoration: none;
    left:0;
}
.waka{
-webkit-writing-mode:vertical-rl;
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
font-size:2em;
/*高さを指定*/
width: 50%;
height: 300px;
}
.switch{
   background-color:aquamarine;
   font-size: 3em;
   font-weight: bold;
   padding: 10px 20px 10px 20px;
   width: 250px;
   height: 50px;
   cursor: pointer;
   border-radius: 30px;
}
.movekey{
    display: inline-block;
    display: table-cell;
    text-decoration: none;
    font-size: 70px;
    width: 90px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    background: gray;
    color: white;
}
#up{
    position: relative;
    left:100px;
}
#down{
    position: relative;
    left:10px;
    top:180px;
}
#left{
    position: relative;
    left:-170px;
    top:90px;
}
#right{
    position: relative;
    left:-80px;
    top:90px;
}
#chu{
    width: 100px;
    height: 100px;
    position: relative;
    top:0px;
    left:200px;
    transform: scale(1,1);
}
.scroll{
    width: 150px;
    height: 120px;
    margin-right: auto;margin-left: auto;
    font-size:40px;
    overflow:auto;
}
table{
    background: white;
    font-size: 20px;
    margin-right: auto;margin-left: auto;
    border-collapse:collapse;
    border: solid 5px red
}
table th,td{
    border: dashed 3px red;
}
.twitter{font-size: 4.0em;color:aqua}
.twitter:hover{
   color:blue}