body{
    background: -moz-linear-gradient(top,lemonchiffon,skyblue);
    background: -webkit-linear-gradient(top,lemonchiffon,skyblue);
    background: linear-gradient(to bottom,lemonchiffon,skyblue);
    font-family: 'Avenir','HG行書体','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' ;
}
.back{
    width: 100%;
    font-size: 50px;
    position: fixed;
    margin-left: 80%;
    bottom: 10%;
    text-decoration: none;
    left:0;
}
.waka{
-webkit-writing-mode:vertical-rl;
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
font-size:2em;
/*高さを指定*/
width: 50%;
height: 300px;
}
.switch{
   background-color:aquamarine;
   font-size: 3em;
   font-weight: bold;
   padding: 10px 20px 10px 20px;
   width: 250px;
   height: 50px;
   border-radius: 30px;
   cursor: no-drop;
}
.scroll{
    width: 150px;
    height: 120px;
    margin-right: auto;margin-left: auto;
    font-size:40px;
    overflow:auto;
}
table{
    background: white;
    font-size: 20px;
    margin-right: auto;margin-left: auto;
    border-collapse:collapse;
    border: solid 5px red
}
table th,td{
    border: dashed 3px red;
}
.twitter{font-size: 4.0em;color:aqua}
.twitter:hover{
   color:blue}